<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Collection Manager</title>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.9/angular-material.min.css">
	<link rel="stylesheet" href="assets/css/main.min.css">
</head>
<body ng-app="collectionApp" layout="column" layout-fill ng-controller="appCtrl">

	<!-- Loader -->
	<div data-ng-if="loading" class="loader">
		<div class="loading text-center">
			<h4>Loading</h4>
    		<img src="assets/images/loader.gif" alt="">
    	</div>
	</div>
	<!-- end loader -->

	<header flex="none">
		<div class="container">
		<md-toolbar>
	      <div class="md-toolbar-tools">
	        
	        <div class="logo"><a ui-sref="home"><img src="assets/images/raccoon-only.svg" class="img-responsive" alt=""></a></div>
	        
	        <h2>
	          <span>Collection Manager</span>
	        </h2>
			
			
	        <div class="hidden-xs hidden-sm" flex>
	        	<div layout-align="end center">
		        	<md-button class="md-raised" aria-label="Add Collection" ui-sref="newcollection">
			          Collections
			        </md-button>
			        <md-button class="md-raised" aria-label="Add Category" ui-sref="addcategory" >
			         Categories
			        </md-button>
			        <md-button class="md-raised" aria-label="Add Item" ui-sref="additem" >
			         Add Item
			        </md-button>
			        <md-button class="md-raised" aria-label="Browse" ui-sref="browse" >
			         Browse
			        </md-button>
			    </div>
	        </div>

	        <md-button class="hidden-lg hidden-md" ng-click="toggleLeft()">Menu</md-button>

	      </div>
	    </md-toolbar>
		</div>
	</header><!-- /header -->

	<!-- SideNav -->

	<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="leftMenu">
	        <md-toolbar layout="row" class="md-theme-indigo">
	        	<h1 class="md-toolbar-tools">Menu</h1> 
	        	<md-button ng-click="toggleLeft()" aria-label="Close" class="" >Close</md-button>
	      	</md-toolbar>
	        <md-list flex>
		        
		        <md-list-item>
		            <md-button class="md-raised" aria-label="Add Collection" ui-sref="newcollection" ng-click="toggleLeft()">Collections</md-button>
		        </md-list-item>

		        
		        <md-list-item >
		            <md-button class="md-raised" aria-label="Add Category" ui-sref="addcategory" ng-click="toggleLeft()">Categories</md-button>
		        </md-list-item>

		        
		        <md-list-item >
			        <md-button class="md-raised" aria-label="Add Item" ui-sref="additem" ng-click="toggleLeft()">         Add Item</md-button>
		        </md-list-item>

		        <md-list-item >
			        <md-button class="md-raised" aria-label="Browse" ui-sref="browse" ng-click="toggleLeft()">	         Browse</md-button>
		        </md-list-item>
	      	</md-list>
    	</md-sidenav>
	<!-- / sidenav -->


	 <main flex="grow" layout="row" layout-align="center start" ui-view="">
    	
    </main>


	
	<footer flex="nogrow" layout="row" layout-align="center end">
		<div class="container">
			Footer
		</div>
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-animate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.7/angular-material.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.0/angular-ui-router.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.0.4/ng-file-upload-all.min.js"></script>

	<script src="app/main.js"></script>

	

</body>


</html>