<div class="container">
	<h2>Category</h2>

	<form name="categoryForm" ng-submit="submitForm(category)" accept-charset="utf-8" novalidate>

		<label for="">Collection</label>

    	<select name="repeatSelect" id="rr" ng-model="category.collection" required ng-options="collection.collection_name for collection in collectionList">		
    	</select>


		<label for="">Category Name</label>
		<input type="text" ng-model="category.name" required>

		<label for="">Year</label>	
		<input type="text" ng-model="category.year">

		<button type="submit">Save</button>
	</form>

	<hr>

	<h4>Categories in <strong>{{category.collection.collection_name}} </strong> collection</h4>
	<table class="table">
		<thead>
			<tr>
				<th>category year</th>
				<th>category name</th>
				<th>category id</th>

			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="category in categoryList | filter:{collection_id: category.collection.collection_id} | orderBy: 'category_year'">
				<td>{{category.category_year}} </td>
				<td>{{category.category_name}} </td>
				<td>{{category.category_id}} </td>
			</tr>
		</tbody>
	</table>

	


</div>

