<div class="container">
	<div layout="row">
		<div flex-sm="60" flex-gt-sm="80">
			<h2>Collections</h2>
		</div>
		<div flex-sm="20" flex-gt-sm="20">
			<md-button class="md-raised md-accent">Add new collection</md-button>
		</div>		
	</div>
	
	
	<div layout="row">
		<div flex-sm="100" flex-gt-sm="80">
			
			<form name="collectionForm" ng-submit="submitForm(collection)" accept-charset="utf-8" novalidate>
				
				<md-input-container class="md-block flex-gt-sm">
					<label>Enter your collection name</label>	
					<input type="text" ng-model="collection.name" required>
					<div ng-messages="collection.name.$error">
		      			<div ng-message="required">Collection is required!</div>
		    		</div>
				</md-input-container>

				<md-button class="md-raised md-primary" type="submit" ng-disabled="collectionForm.$invalid">Save</md-button>			
				
				
			</form>
			
		</div>
	</div>
		
	<md-divider></md-divider>
	
		<div flex-sm="100" flex-gt-sm="80">
			<md-list>
			  <md-list-item class="md-1-line" ng-repeat="collection in collectionList">
			    <div class="md-list-item-inner">
			    	 <img src="assets/images/acorn-icon.svg" class="img-responsive md-avatar" alt="">
			      <p>{{collection.collection_name}}</p>	      
			    </div>
			  </md-list-item>
			</md-list>
		</div>

	

	

	
</div>

