<div class="container">
	<div layout="row" layout-padding>
		<div flex-sm="100" flex-gt-sm="80">
			<h2>Add Item</h2>
		</div>	
	</div>
	

	<form name="itemForm" ng-submit="submitForm(item)" accept-charset="utf-8">

		<div layout="row" layout-sm="column" layout-xs="column" layout-padding>
			<div flex-sm="100" flex-gt-sm="50">
				<md-input-container class="md-block flex-gt-sm">
					<label for="">Select Collection</label>
					<md-select ng-model="collection" required ng-change="setCollection(collection)">
					          <md-option ng-repeat="collection in collectionList" value="{{collection}}">{{collection.collection_name}}</md-option>
					        </md-select>
					</md-input-container>
			</div>
		
			<div flex-sm="100" flex-gt-sm="50">
				<md-input-container class="md-block flex-gt-sm">
					<label>Select category</label>	
					<md-select ng-model="item.category" required>
					          <md-option ng-repeat="category in categoryList | filter: {collection_id: currCollection.collection_id}" value="{{category.category_id}}">{{category.category_name}}</md-option>
					        </md-select>
					</md-input-container>
			</div>
		</div>


		<div layout="row" layout-sm="column" layout-xs="column" layout-padding>
			<div flex-sm="100" flex-gt-sm="50"> 
				<md-input-container class="md-block flex-gt-sm">
							<label>Item Name</label>	
							<input type="text" ng-model="item.name" required ng-pattern="/^[a-z0-9-]+$/i">
							<div ng-messages="item.name.$error">
				      			<div ng-message="required">a Name is required!</div>
				      			<div ng-message="pattern">Only Letters, numbers and -</div>
				    		</div>
						</md-input-container>
				</md-input-container>
			</div>

			<div flex-sm="100" flex-gt-sm="50">
				<md-input-container class="md-block flex-gt-sm">
							<label>Item Description</label>	
							<input type="text" ng-model="item.desc">
						</md-input-container>
				</md-input-container>
			</div>
		</div>

		<div layout="row" layout-sm="column" layout-xs="column" layout-padding>
			<div flex-sm="100" flex-gt-sm="50">		

			<label for="">Item Picture</label>	
			<input type="file" id="fileInput" ngf-select ng-model="item.picture" name="file"  
             accept="image/*" ngf-max-size="2MB" required
             ngf-model-invalid="errorFile" class="ng-hide">
             <md-button id="uploadButton" class="md-raised md-primary"> Choose File</md-button>
         	</div>

         	<div flex-sm="100" flex-gt-sm="50">
              <img ng-show="myForm.file.$valid" ngf-thumbnail="item.picture" class="thumb"> 
              <md-button class="md-raised md-primary" ng-click="item.picture = null" ng-show="item.picture">Remove</md-button>
             </div>

		</div>

		<div layout="row" layout-sm="column" layout-xs="column" layout-align="start center" class="topSpace" layout-padding>
			<div flex-sm="100" flex-gt-sm="50" >
				<md-button class="md-raised md-primary" type="submit" ng-disabled="itemForm.$invalid">Save</md-button>
			</div>	
		</div>

		
	</form>

	
</div>

