<div class="container">
	<div layout="row" layout-sm="column" layout-xs="column" layout-padding>
		<div flex-sm="100" flex-gt-sm="80">
			<h2>Browse Collection</h2>
		</div>	
	</div>

	
 	<div layout="row" layout-sm="column" layout-xs="column"  layout-padding>
			<div flex-sm="100" flex-gt-sm="50">
				<md-input-container class="md-block flex-gt-sm">
					<label for="">Select Collection</label>
					<md-select ng-model="collection" required ng-change="setCollection(collection)">
					          <md-option ng-repeat="collection in collectionList" value="{{collection}}">{{collection.collection_name}}</md-option>
					        </md-select>
					</md-input-container>
			</div>
		
			<div flex-sm="100" flex-gt-sm="50">
				<md-input-container class="md-block flex-gt-sm">
					<label>Select category</label>	
					<md-select ng-model="category" required ng-change="setCategory(category)">
					          <md-option ng-repeat="category in categoryList | filter: {collection_id: currCollection.collection_id}" value="{{category}}">{{category.category_name}}</md-option>
					        </md-select>
					</md-input-container>
			</div>
	</div>

	<div layout="row" ng-if="currCollection.collection_id" layout-padding layout-sm="column" layout-xs="column"  >
		<div flex-sm="100" flex-gt-sm="100">
	
			<h4 class="text-center">Items in <strong>{{currCollection.collection_name}} </strong> collection</h4>
			<table class="table">
				<thead>
					<tr>
						<th class="hidden-sm hidden-xs" ng-if="currentCategory.category_name">Category name</th>
						<th>Item name</th>
						<th class="hidden-sm hidden-xs">Item Desc</th>					
						<th>Item pic</th>					
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in itemList | filter:{category_id: currentCategory.category_id}:true | orderBy: 'item_name'">
						<td class="hidden-sm hidden-xs" ng-if="currentCategory.category_name">{{currentCategory.category_name}}</td>
						<td><a ui-sref="viewitem({itemid:item.item_id})">{{item.item_name}}</a></td>
						<td class="hidden-sm hidden-xs">{{item.item_description}}</td>
						<td><img ng-src="{{ uploadpath + currCollection.collection_name +'/'+item.item_picture}}" alt="" width="50" height="50"></td>
						
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	


</div>

