<div class="container">
	<div layout="row" layout-sm="column" layout-xs="column" layout-padding>
		<div flex="33" flex-gt-sm="66">
			<h2>Collections</h2>
		</div>
		<div flex="66" flex-gt-sm="33">
			<md-button class="md-raised md-accent" ng-click="newitem=true">Add new collection</md-button>
		</div>		
	</div>

		<form name="collectionForm" ng-submit="submitForm(collection)" accept-charset="utf-8" novalidate>

			<div layout="row" layout-sm="column" layout-xs="column" ng-show="newitem" layout-padding>
				<div flex-sm="100" flex-gt-sm="40">
			
					<md-input-container class="md-block">
						<label>Enter your collection name</label>	
						<input type="text" ng-model="collection.name" required ng-pattern="/^[a-z0-9]+$/i">
						<div ng-messages="collection.name.$error">
			      			<div ng-message="required">Collection is required!</div>
			      			<div ng-message="pattern">Only Letters and Numbers</div>
			    		</div>
					</md-input-container>

				</div>

				<div flex-sm="100" flex-gt-sm="40">
					<md-button class="md-raised md-primary" type="submit" ng-disabled="collectionForm.$invalid" ng-click="newitem = false">Save</md-button>			
				</div>

			</div>

			
			
		</form>
			
		
		
	<md-divider></md-divider>
	
		<div flex-sm="100" flex-gt-sm="80">
			<md-list>
			  <md-list-item class="md-1-line" ng-repeat="collection in collectionList">
			    <div class="md-list-item-inner">
			    	 <img src="assets/images/acorn-icon.svg" class="img-responsive md-avatar" alt="">
			      <p><a ui-sref="browse({collection_id:collection.collection_id})">{{collection.collection_name}}</a></p>	      
			    </div>
			  </md-list-item>
			</md-list>
		</div>

	

	

	
</div>

