<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Collection Manager</title>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.9/angular-material.min.css">
	<link rel="stylesheet" href="assets/css/main.min.css">
</head>
<body ng-app="collectionApp" layout="column" layout-fill ng-controller="appCtrl">

	<!-- Loader -->
	<div data-ng-if="loading" class="loader">
		<div class="loading text-center">
			<h4>Loading</h4>
    		<img src="assets/images/loader.gif" alt="">
    	</div>
	</div>
	<!-- end loader --> 

	<header flex="none">
		<div class="container">
		<md-toolbar>
	      <div class="md-toolbar-tools">
	      	<div layout="row" flex="40" layout-align="start center">
	      		<div flex="33" flex-gt-sm="15" flex-xs="45">
		      		<div class="logo"><a ui-sref="home"><img src="assets/images/raccoon-only.svg" class="img-responsive" alt=""></a>
		      		</div>
		        </div>
		        <div flex="66" flex-gt-sm="85" flex-xs="55">
		        	<h3>Collection Manager</h3>		
		        </div>
		        
	      	</div>
			
	        <div class="hidden-xs hidden-sm" layout="row" layout-align="end center" flex="60">
	        	<div>
		        	<md-button class="md-raised" aria-label="Add Collection" ui-sref="newcollection">
			          Collections
			        </md-button>
			        <md-button class="md-raised" aria-label="Add Category" ui-sref="addcategory" >
			         Categories
			        </md-button>
			        <md-button class="md-raised" aria-label="Add Item" ui-sref="additem">
			         Add Item
			        </md-button>
			        <md-button class="md-raised" aria-label="Browse" ui-sref="browse" >
			         Browse
			        </md-button>
			    </div>
	        </div>
	        <div class="hidden-lg hidden-md" layout="row" layout-align="end center" flex="60">
	        	<md-button  ng-click="toggleLeft()">
	        	<svg width="36" height="40">
 <g>
  <rect fill="none" id="canvas_background" height="42" width="38" y="-1" x="-1"/>
 </g>
 <g>
   <rect stroke="#000" rx="3" id="svg_1" height="4" width="30" y="9.5" x="3" stroke-width="0" fill="#ffffff"/>
  <rect stroke="#000" rx="3" id="svg_2" height="4" width="30" y="20.5" x="3" stroke-width="0" fill="#ffffff"/>
  <rect stroke="#000" rx="3" id="svg_3" height="4" width="30" y="31.5" x="3" stroke-width="0" fill="#ffffff"/>
 </g>
</svg>
	        	
	        </md-button>
	    	</div>

	      </div>
	    </md-toolbar>
		</div>
	</header><!-- /header -->

	<!-- SideNav -->

	<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="leftMenu">
	        <md-toolbar layout="row" class="md-theme-indigo">
	        	<h1 class="md-toolbar-tools">Menu</h1> 
	        	<md-button ng-click="toggleLeft()" aria-label="Close" class="" >Close</md-button>
	      	</md-toolbar>
	        <md-list flex>
		        
		        <md-list-item>
		            <md-button class="md-raised" aria-label="Add Collection" ui-sref="newcollection" ng-click="toggleLeft()">Collections</md-button>
		        </md-list-item>

		        
		        <md-list-item >
		            <md-button class="md-raised" aria-label="Add Category" ui-sref="addcategory" ng-click="toggleLeft()">Categories</md-button>
		        </md-list-item>

		        
		        <md-list-item >
			        <md-button class="md-raised" aria-label="Add Item" ui-sref="additem" ng-click="toggleLeft()">         Add Item</md-button>
		        </md-list-item>

		        <md-list-item >
			        <md-button class="md-raised" aria-label="Browse" ui-sref="browse" ng-click="toggleLeft()">	         Browse</md-button>
		        </md-list-item>
	      	</md-list>
    	</md-sidenav>
	<!-- / sidenav -->


	 <main flex layout="column">
    	<div ui-view="" flex="grow">
    		
    	</div>

    	<footer layout-padding>
			<div class="container">
				Footer
			</div>
		</footer>	
    </main>


	
	

	<script src="app/vendor.js"></script>

	<script src="app/main.js"></script>

	

</body>


</html>