<div class="container">
	<h2>Category</h2>

	<form method="post" accept-charset="utf-8">
		<label for="">Category Name</label>
		<input type="text" ng-model="category.name">

		<label for="">Year</label>	
		<input type="text" ng-model="category.year">

		<button type="">Save</button>
	</form>

	<h4>Categories for Collection XXXX</h4>
	<table>
		<thead>
			<tr>
				<th>Cat</th>
				<th>Year</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>data</td>
				<td>data</td>
			</tr>
		</tbody>
	</table>

	
</div>

